/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  margin: 0;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentcolor;
}

/* Make images easier to work with */
img,
picture,
video,
svg {
  display: block;
  max-width: 100%;
}

canvas {
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* template */
:root {
  color-scheme: light dark;

  --bg: light-dark(#f8f8f8, #161616);
  --secondary: light-dark(#e7e7e7, #3f3f3f);
  --on-secondary: light-dark(#3a3a3a, #e6e6e6);
  --state: light-dark(#4b4b4b, #e6e6e6);
  --on-bg: light-dark(#404040, #ededed);
}

/* stylelint-disable-next-line no-duplicate-selectors */
html {
}

/* stylelint-disable-next-line no-duplicate-selectors */
body {
  margin: 0;
  font-family: 'Pretendard Variable', sans-serif;
  color: var(--on-bg);
  background-color: var(--bg);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.button {
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  place-items: center;
  width: 3rem;
  height: 3rem;
  padding: 0;
  color: var(--on-secondary);
  cursor: pointer;
  background-color: transparent;
  border: none;

  > * {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

  &::before,
  &::after {
    display: block;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    width: 2.5rem;
    height: 2.5rem;
    content: '';
    border-radius: 1024rem;
    transform: scale(0);
  }

  &::after {
    position: relative;
    z-index: 1;
    background-color: var(--secondary);
  }

  &::before {
    position: relative;
    z-index: 2;
    background-color: var(--state);
  }

  &__icon {
    position: relative;
    z-index: 3;
  }

  &__label {
    display: none;
  }

  &:hover::after {
    transform: scale(1);
    transition: transform 100ms ease-in;
  }

  &:active::before {
    transform: scale(1);
    transition: transform 100ms ease-in;
  }
}

.section {
  padding-inline: 5rem;
}

.container {
  margin-inline: auto;
}

#canvas-container {
  max-width: 90rem;
  height: calc(100svh - 3.5rem);
  background-color: aquamarine;
}

.control {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 3rem;
  place-items: center center;
  max-width: 90rem;
  height: 100%;
  padding-block: 0.25rem;
  margin-inline: auto;

  &__label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    place-self: center stretch;
    align-items: stretch;
    justify-content: center;

    > * {
      flex: 0 1 auto;
    }
  }

  &__title {
    margin: 0;
    overflow-x: clip;
    text-overflow: ellipsis;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1;
    white-space: nowrap;
  }

  &__artist {
    width: 100%;
    margin: 0;
    overflow: hidden;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
  }

  &__paging {
    display: flex;
    align-items: center;
    justify-content: center;

    > * {
      flex: 0 0 auto;
    }
  }

  &__button {
    &--prev {
      order: 0;
    }

    &--list {
      order: 1;
    }

    &--next {
      order: 2;
    }

    &--folding {
      place-self: center end;
      transition: transform 150ms ease-in;

      &[data-folded='true'] {
        transform: rotate(0deg);
      }

      &[data-folded='false'] {
        transform: rotate(-180deg);
      }
    }
  }
}

.description {
  max-width: 49.5rem;

  &__title {
    max-width: 75%;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2;
    text-wrap: balance;
  }

  &__artist {
    width: 100%;
    margin: 0;
    margin-top: calc(1rem - 0.3rem);
    overflow: hidden;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1;
  }

  p {
    margin-top: 0.5lh;
    font-size: 1.125rem;
    word-break: keep-all;

    &:first-of-type {
      margin-top: 1lh;
    }
  }
}
