/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100svh;
  margin: 0;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentcolor;
}

/* Make images easier to work with */
img,
picture,
video,
svg {
  display: block;
  max-width: 100%;
}

canvas {
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* template */
:root {
  color-scheme: light dark;
  --bg: light-dark(#f8f8f8, oklch(18% 0 0deg));
  --on-bg: light-dark(#404040, oklch(96.73% 0 0deg));
  --on-bg-var: light-dark(#404040, oklch(89.45% 0 0deg));
  --outline: light-dark(#404040, oklch(76.2% 0 0deg));
  --outline-var: light-dark(#404040, oklch(56.75% 0 0deg));
  --primary: light-dark(#e7e7e7, oklch(86.98% 0 0deg));
  --primary-state-08: light-dark(#4b4b4b, oklch(86.98% 0 0deg / 8%));
  --primary-state-12: light-dark(#4b4b4b, oklch(86.98% 0 0deg / 12%));
  --primary-state-16: light-dark(#4b4b4b, oklch(86.98% 0 0deg / 16%));
  --on-primay: light-dark(#3a3a3a, oklch(18.88% 0 0deg));
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.icon-button {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  place-items: center;
  width: 3rem;
  height: 3rem;
  padding: 0;
  color: var(--on-bg-var);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: transparent;
  border: none;
}
.icon-button::before, .icon-button::after {
  grid-row: 1/1;
  grid-column: 1/1;
}
.icon-button::before {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  font-family: "Material Symbols Outlined", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  line-height: 1.5rem;
  color: var(--on-bg-var);
  text-align: center;
  content: attr(data-icon);
}
.icon-button::after {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  content: "";
  background-color: var(--primary-state-08);
  border-radius: 1024rem;
  transform: scale(0);
  transition: background-color 200ms ease-in, transform 200ms ease-in;
}
.icon-button:hover::after {
  transform: scale(1);
}
.icon-button:active::after {
  background-color: var(--primary-state-12);
  transform: scale(1);
}

/* stylelint-disable-next-line no-duplicate-selectors */
html {
  height: 100%;
}

/* stylelint-disable-next-line no-duplicate-selectors */
body {
  height: 100%;
  margin: 0;
  font-family: "Pretendard Variable", sans-serif;
  color: var(--on-bg);
  background-color: var(--bg);
}

main {
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

.container {
  max-width: 100rem;
  padding-inline: 5rem;
  margin-inline: auto;
}
.container[data-full-width=true] {
  padding-inline: 0;
}
@media (width < 75rem) {
  .container {
    padding-inline: 3.75rem;
  }
}
@media (width < 52.5rem) {
  .container {
    padding-inline: 1.5rem;
  }
}
@media (width < 37.5rem) {
  .container {
    padding-inline: 1rem;
  }
}

.canvas {
  height: calc(100svh - 3.5rem);
}
.canvas__container {
  height: 100%;
}
.canvas[data-full-width=true] .canvas__container {
  max-width: 100%;
}

#canvas-container {
  width: 100%;
  height: 100%;
}

.control {
  position: sticky;
  top: 0;
  z-index: 2;
  display: grid;
  grid-template-rows: 3rem 0.5rem 0.5rem 3rem;
  grid-template-columns: 1fr;
  place-items: stretch stretch;
}
.control::before {
  display: block;
  grid-row: 2/-1;
  grid-column: 1/-1;
  width: 100%;
  max-width: 90rem;
  height: 100%;
  margin-inline: auto;
  content: "";
  background: linear-gradient(to bottom, var(--bg) 0%, var(--bg) 25%, transparent 100%);
}
.canvas[data-full-width=true] + .control::before {
  max-width: 100%;
}

.control__container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: minmax(0, 1fr) minmax(0, 9rem) minmax(0, 3rem);
  grid-row: 1/span 2;
  grid-column: 1/-1;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  width: 100%;
  background-color: var(--bg);
}
.canvas[data-full-width=true] + .control .control__container {
  max-width: 100%;
}

@media (width < 37.5rem) {
  .control__container {
    grid-template-columns: minmax(0, 9rem) minmax(0, 1fr) minmax(0, 3rem);
  }
}
.control__label {
  display: flex;
  flex-direction: column;
  grid-row: 1/span 1;
  grid-column: 1/span 1;
  gap: 0.25rem;
  place-self: stretch stretch;
  align-items: stretch;
  justify-content: start;
  margin-top: 0.75rem;
  opacity: 1;
  transition: opacity 200ms ease-in;
}
.control:has(#button-scroll[data-scroll=up]) .control__label {
  opacity: 0;
}

@media (width < 37.5rem) {
  .control__label {
    grid-column-end: span 2;
  }
}
.control__label > * {
  text-box: trim-both cap alphabetic;
  flex: 0 0 1rem;
  overflow-x: clip;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: round(1em, 0.25rem);
  padding-block: calc(0.5 * (round(up, 1cap, 0.25rem) - 1cap));
}
.control__label__title {
  font-weight: 600;
  font-size: 1rem;
}
.control__label__artist {
  font-weight: 500;
  font-size: 0.8888888889rem;
}
.control__paging {
  display: flex;
  grid-row: 1/span 1;
  grid-column: 2/span 1;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 200ms ease-in 200ms;
}
@media (width < 37.5rem) {
  .control__paging {
    grid-column: 1/span 1;
    opacity: 0;
    transform: translate(-0.75rem, 0%);
  }
  .control:has(#button-scroll[data-scroll=up]) .control__paging {
    opacity: 1;
    transform: translate(-0.75rem, 0%);
  }
}
.control__paging > * {
  flex: 0 0 auto;
}
.control__button--prev {
  order: 0;
}
.control__button--list {
  order: 1;
}
.control__button--next {
  order: 2;
}
.control__button--scroll {
  transform: translate(0.75rem, 0%) rotate(0deg);
  transition: transform 200ms ease-in;
}
.control__button--scroll[data-scroll=up] {
  transform: translate(0.75rem, 0%) rotate(180deg);
}
.control__scroll {
  display: flex;
  grid-row: 1/span 1;
  grid-column: 3/span 1;
  align-items: center;
  justify-content: end;
}
.control__scroll > * {
  flex: 0 0 auto;
}

.information {
  position: relative;
  z-index: 1;
  font-size: 1.125rem;
}
@media (width < 52.5rem) {
  .information {
    font-size: 1rem;
  }
}
.information__container {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: round(2em, 0.25rem) 1.5rem;
  place-items: stretch stretch;
  padding-bottom: 7rem;
}
.information__label {
  grid-row: 1/span 1;
  grid-column: 1/span 7;
  padding-right: 4em;
}
@media (width < 75rem) {
  .information__label {
    grid-column: 1/-1;
  }
}
@media (width < 52.5rem) {
  .information__label {
    padding-right: 0;
  }
}
.information__label > * {
  text-box: trim-both cap alphabetic;
}
.information__label__title {
  margin-top: 0;
  font-weight: 600;
  word-break: keep-all;
  text-wrap: balance;
  font-size: 2.8865075782rem;
  line-height: round(1.2em, 0.25rem);
  padding-block: calc(0.5 * (round(up, 1cap, 0.25rem) - 1cap));
}
@media (width < 52.5rem) {
  .information__label__title {
    padding-top: calc(0.75rem - 0.5cap);
    padding-bottom: calc(0.75rem - 0.5cap);
    font-size: 1.6018066406rem;
  }
}
.information__label__artist {
  margin-top: round(1lh, 0.25rem);
  font-weight: 500;
  font-size: 1.8020324707rem;
  line-height: round(1em, 0.25rem);
  padding-block: calc(0.5 * (round(up, 1cap, 0.25rem) - 1cap));
}
@media (width < 52.5rem) {
  .information__label__artist {
    font-size: 1.265625rem;
  }
}
.information__description {
  grid-row: 2/span 1;
  grid-column: 1/span 7;
  padding-right: 4em;
  margin-top: round(2lh, 0.25rem);
}
@media (width < 75rem) {
  .information__description {
    grid-column: 1/-1;
    margin-top: round(1lh, 0.25rem);
  }
}
@media (width < 52.5rem) {
  .information__description {
    padding-right: 0;
  }
}
.information__description p {
  text-box: trim-both cap alphabetic;
  margin-top: round(0.75lh, 4px);
  word-break: keep-all;
  font-size: 1.125rem;
  line-height: round(1.5em, 0.25rem);
  padding-block: calc(0.5 * (round(up, 1cap, 0.25rem) - 1cap));
}
@media (width < 52.5rem) {
  .information__description p {
    word-break: normal;
    font-size: 1rem;
  }
}
.information__description p:first-of-type {
  margin-top: 0;
}
.information__reference {
  position: relative;
  grid-row: 2/span 1;
  grid-column: 8/-1;
}
@media (width < 75rem) {
  .information__reference {
    grid-row: 3/span 1;
    grid-column: 1/-1;
    padding-right: 4em;
    margin-top: round(1lh, 0.25rem);
  }
}
@media (width < 52.5rem) {
  .information__reference {
    padding-right: 0;
  }
}
.information__reference__wrap {
  position: sticky;
  top: 7rem;
}
@media (width < 75rem) {
  .information__reference__wrap {
    position: static;
    top: 0;
  }
}
.information__reference__title {
  text-box: trim-both cap alphabetic;
  font-weight: 600;
  line-height: 1;
  font-size: 2.2806973457rem;
  line-height: round(1em, 0.25rem);
  padding-block: calc(0.5 * (round(up, 1cap, 0.25rem) - 1cap));
}
@media (width < 52.5rem) {
  .information__reference__title {
    font-size: 1.423828125rem;
  }
}
.information__reference ol {
  padding-left: 2em;
  margin-top: round(1lh, 0.25rem);
  font-size: 1.125rem;
  line-height: round(1.5em, 0.25rem);
}
@media (width < 52.5rem) {
  .information__reference ol {
    font-size: 1rem;
  }
}
.information__reference ol li {
  text-box: trim-both cap alphabetic;
  margin-top: round(0.75lh, 0.25rem);
}