/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100svh;
  margin: 0;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentcolor;
}

/* Make images easier to work with */
img,
picture,
video,
svg {
  display: block;
  max-width: 100%;
}

canvas {
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* template */
:root {
  color-scheme: light dark;

  --bg: light-dark(#f8f8f8, oklch(18% 0 0deg));
  --on-bg: light-dark(#404040, oklch(96.73% 0 0deg));
  --on-bg-var: light-dark(#404040, oklch(89.45% 0 0deg));
  --outline: light-dark(#404040, oklch(76.2% 0 0deg));
  --outline-var: light-dark(#404040, oklch(56.75% 0 0deg));
  --primary: light-dark(#e7e7e7, oklch(86.98% 0 0deg));
  --primary-state-08: light-dark(#4b4b4b, oklch(86.98% 0 0deg / 8%));
  --primary-state-12: light-dark(#4b4b4b, oklch(86.98% 0 0deg / 12%));
  --primary-state-16: light-dark(#4b4b4b, oklch(86.98% 0 0deg / 16%));
  --on-primay: light-dark(#3a3a3a, oklch(18.88% 0 0deg));
}

/* stylelint-disable-next-line no-duplicate-selectors */
html {
  // scrollbar-width: none;
  // -ms-overflow-style: none;

  // &::-webkit-scrollbar {
  //   display: none;
  // }
  height: 100%;
}

/* stylelint-disable-next-line no-duplicate-selectors */
body {
  height: 100%;
  margin: 0;
  font-family: 'Pretendard Variable', sans-serif;
  color: var(--on-bg);
  background-color: var(--bg);
}

main {
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;

  // scroll-snap-type: y mandatory;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.button {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  place-items: center;
  width: 3rem;
  height: 3rem;
  padding: 0;
  color: var(--on-bg-var);
  cursor: pointer;
  background-color: transparent;
  border: none;

  > * {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

  &::before,
  &::after {
    display: block;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    width: 2.5rem;
    height: 2.5rem;
    content: '';
    border-radius: 1024rem;
    transform: scale(0);
    transition: background-color 200ms ease-in, transform 200ms ease-in;
  }

  &::after {
    position: relative;
    z-index: 1;
    background-color: var(--primary-state-08);
  }

  &::before {
    position: relative;
    z-index: 2;
    background-color: transparent;
  }

  &__icon {
    position: relative;
    z-index: 3;
  }

  &__label {
    display: none;
  }

  &:hover::after {
    transform: scale(1);
  }

  &:active::after {
    background-color: var(--primary-state-12);
    transform: scale(1);
  }
}

.section {
  padding-inline: 5rem;
  @media (width <= 75rem) {
    padding-inline: 3.75rem;
  }
  @media (width <= 52.5rem) {
    padding-inline: 1.5rem;
  }
  @media (width <= 37.5rem) {
    padding-inline: 1rem;
  }
}

.container {
  max-width: 90rem;
  margin-inline: auto;
}

.canvas {
  // scroll-snap-align: start;

  &[data-full-width='true'] {
    padding-inline: 0;
  }
}

#canvas-container {
  height: calc(100svh - 3.5rem);
  background-color: aquamarine;
  @at-root .canvas[data-full-width='true'] & {
    max-width: 100%;
  }
}

.control {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-rows: 3rem 0.5rem 0.5rem 3rem;
  grid-template-columns: 1fr;

  // scroll-snap-align: start;

  &[data-full-width='true'] {
    padding-inline: 0;
  }

  &__container {
    &--header {
      position: relative;
      z-index: 2;
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-row: 1 / span 2;
      grid-column: 1 / -1;
      column-gap: 1.5rem;
      width: 100%;
      background-color: var(--bg);
    }

    &--footer {
      position: relative;
      z-index: 1;
      grid-row: 2 / -1;
      grid-column: 1 / -1;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to bottom,
        var(--bg) 0%,
        var(--bg) 25%,
        transparent 100%
      );
    }
  }

  &__label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    place-self: center stretch;
    align-items: stretch;
    justify-content: center;
    opacity: 1;
    transition: opacity 200ms ease-in;
    @media (width <= 52.5rem) {
      opacity: 0;
    }

    @at-root .control[data-at-bottom='false'] & {
      opacity: 0;
    }

    > * {
      flex: 1 1 auto;
    }

    &__title {
      overflow-x: clip;
      text-overflow: ellipsis;
      font-size: 1rem;
      font-weight: 600;
      line-height: 1;
      white-space: nowrap;
    }

    &__artist {
      margin: 0;
      overflow-x: clip;
      text-overflow: ellipsis;
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 1;
    }
  }

  &__paging {
    display: flex;
    align-items: center;
    justify-content: center;

    > * {
      flex: 0 0 auto;
    }
  }

  &__button {
    &--prev {
      order: 0;
    }

    &--list {
      order: 1;
    }

    &--next {
      order: 2;
    }

    &--scroll {
      transform: rotate(0deg);
      transition: transform 200ms ease-in;

      @at-root .control[data-at-bottom='false'] & {
        transform: rotate(180deg);
      }
    }
  }

  &__scroll {
    display: flex;
    align-items: center;
    justify-content: end;

    > * {
      flex: 0 0 auto;
    }
  }
}

.information {
  &__container {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    column-gap: 1.5rem;
    place-items: stretch stretch;
    padding-bottom: 7rem;
  }

  &__label {
    grid-row: 1 / span 1;
    grid-column: 1 / span 7;
    padding-right: 3rem;
    @media (width <= 75rem) {
      grid-column: 1 / -1;
    }
    @media (width <= 52.5rem) {
      padding-right: 0;
    }

    &__title {
      margin: 0;
      font-size: 2.25rem;
      font-weight: 600;
      line-height: 1.4;
      word-break: keep-all;
      text-wrap: balance;
      @media (width <= 52.5rem) {
        font-size: 1.375rem;
      }
    }

    &__artist {
      margin-top: calc(1.5rem - 1 * (2.25rem * 1.4 - 2.25rem));
      margin-bottom: 2.25rem;
      font-size: 1.5625rem;
      font-weight: 500;
      line-height: 1;
      @media (width <= 52.5rem) {
        margin-top: calc(1rem - 1 * (1.375rem * 1.4 - 1.375rem));
        margin-bottom: 1.5rem;
        font-size: 1.125rem;
      }
    }
  }

  &__description {
    grid-row: 2 / span 1;
    grid-column: 1 / span 7;
    padding-right: 3rem;
    @media (width <= 75rem) {
      grid-column: 1 / -1;
    }
    @media (width <= 52.5rem) {
      padding-right: 0;
    }

    p {
      margin-top: 0.5lh;
      font-size: 1.125rem;
      word-break: keep-all;
      @media (width <= 52.5rem) {
        font-size: 1rem;
        word-break: normal;
      }

      &:first-of-type {
        margin-top: 0;
      }
    }
  }

  &__reference {
    position: relative;
    grid-row: 2 / span 1;
    grid-column: 8 / -1;
    @media (width <= 75rem) {
      grid-row: 3 / span 1;
      grid-column: 1 / -1;
      padding-right: 3rem;
      margin-top: 1.5rem;
    }
    @media (width <= 52.5rem) {
      padding-right: 0;
    }

    &__wrap {
      position: sticky;
      top: 7rem;
    }

    &__title {
      margin: 0;
      font-size: 1.5625rem;
      font-weight: 600;
      line-height: 1;
    }

    ol {
      padding-left: 2.5em;
      margin-top: 1em;
      margin-bottom: 0;
      font-size: 1.125rem;
      line-height: 1.5;
      @media (width <= 52.5rem) {
        font-size: 1rem;
      }

      li {
        margin-top: 0.25lh;

        &:first-of-type {
          margin-top: 0;
        }
      }
    }
  }
}
